<nav
  style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  "
>
  <a routerLink="/" style="text-decoration: none">
    <h1 style="font-size: 28px; font-weight: bold; margin: 0">EGID</h1>
  </a>
  <a
    routerLink="/orders"
    class="button fancy-button"
    style="
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #4caf50;
      color: #fff;
      font-size: 18px;
    "
  >
    <em class="material-icons" style="margin-right: 10px">shopping_cart</em
    ><span>Orders</span>
  </a>
</nav>
